@import '../bower_components/bootstrap/scss/bootstrap.scss';
/* partials */
@import 'partials/mixins.scss';
@import 'partials/colors.scss';
@import 'partials/type.scss';
@import 'partials/magic.scss';
@import 'partials/panels.scss';

body {
  background-color: white;
}

img {
  width : 100%;
  height: auto;
}

.list-columns {
  column-count: 2;
  @extend .mb-0;
  @include media-breakpoint-up(md) {
    column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 3;
  }

  li {
    line-height: 1.1;
    @extend .mb-2;
    @extend .mb-lg-3;
  }
}

img.max208 {
  max-width: 208px;
}

#myVideo {
  position  : absolute;
  right     : 0;
  // top       : 0;
  // bottom    : 0;
  min-width : 100%;
  min-height: 100%;
  z-index   : 1;
  opacity   : 0.15;
}

.pager {
  position: fixed;
  z-index : 2;
  top     : 0;
  bottom  : 0;
  right   : 20px;

  li {
    background-color: pink;
    opacity         : 0.5;
    transition      : all 1s ease-out;

    &.active {
      background-color: yellow;
    }
  }
}