@import '../bower_components/bootstrap/scss/bootstrap.scss';
/* partials */
@import 'partials/mixins.scss';
@import 'partials/type.scss';
@import 'partials/magic.scss';

body {
  background-color: black;
}

img {
  width : 100%;
  height: auto;
}