.contact {
  h2 {
    color: $grey400;
  }

  h6,
  li,
  p {
    color  : $grey600;
    opacity: 1;
  }

  p {
    letter-spacing: 0.03em;
  }

  h3 {
    color  : $grey400;
    opacity: 0.75;
  }
}

.signoff {
  margin-top: 10vw;

  a {
    border-bottom  : 0;
    text-decoration: none;
    color          : $grey400;
    transition     : all 0.4s ease-out;

    &:hover {
      text-decoration: none;
      border-bottom  : 0;
      color          : $grey200;
    }
  }

  p {
    color: $grey600;
  }

  p strong {
    color: $grey400;
  }
}